body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    background-image: url(../img/bandera-estadounidense.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
